@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Styles for all Website */
* {
    padding: 0;
    margin: 0;
    /* Adds Box Sizing for Better Layout Control */
    box-sizing: border-box;
}

/* Heading and Title Styles */
h1 {
    /* H1 Font Family */
    font-family: "Pacifico", sans-serif;
    font-size: calc(2rem + 2vw + 2vh);

    /* Padding and Margin */
    padding: 5px;
    padding-left: 20%;
    padding-right: 20%;

    /* Border Style */
    border: 2px solid #A66D3C;
    border-radius: 10px;

    /* Colour */
    background-color: #F2E5BD;
    color: #A66D3C;

    /* Text Center */
    text-align: center;

    /* Smooth Background Colour Transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 2.5s ease, transform 2.5s ease;
}

/* Media Query for the Heading - below 870px, keep title at one size and remove border */
@media (max-width: 870px) {
    h1 {
        font-size: calc(1.5rem);
        border: none;
        padding: 0;

        /* Removes Background Colour for Small Screens */
        background-color: transparent;

        /* Colour */
        color: #F2B872
    }
}

/* Will Display content using Flex Property and be Centered */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Will Change the Flex Direction to a Column. An element need to have display: flex for this to work */
.flex-col {
    flex-direction: column;
}

/* Will Occupy 100% of the Viewpoint Width */
.full-width {
    width: 100vw;
}

/* Used as the Container for each Image and Paragraph in the Gallery */
.card {
    max-width: 300px;
    min-width: 200px;

    /* Centers Item when fewer than max columns */
    margin: auto;

    /* Prevents Overflow */
    overflow: hidden;

    /* Border */
    border-radius: 15px;

    /* Colour */
    background-color: #F2F2F2;

    /* Shadow Effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    /* Smooth Transform and Shadow Transition */
    transition: transform 3.5s, box-shadow 3.5s;


}

/* Style for Image inside a Card */
.card img {
    /* Size */
    width: 100%;
    height: 300px;

    /* Image Automatically crop to cover all the space it can */
    object-fit: cover;

    /* Rounded Top Corners */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    /* Smooth Zoom Effect on Hover */
    transition: transform 3.5s;
}

/* Adds Hover Effect to card */
.card:hover {
    /* Slightly Lifts the card on Hover */
    transform: translateY(-5px);

    box-shadow: 0 8px 16px rgba(242, 184, 114, 0.7);
}

.card:hover img {
    /* Slight Zoom on Hover */
    transform: scale(1.15);
}

/* Style for the Title Div */
#title-div {
    /* Colours */
    color: #A66D3C;
    background-color: #F2E5BD;

    /* Size */
    height: 100px;
    padding: 20px;

    /* Border */
    border-radius: 15px;
    border: 2px solid #A66D3C;

    /* Shadow */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    /* Text Styling */
    font-size: calc(2rem + 2vw + 2vh);
    text-align: center;
    transition: transform 2.5s ease, box-shadow 2.5s ease;
}

/* Hover Effect for the Title Div */
#title-div:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    background-color: #F2B872;
}

/* Cover Image Style */
#cover-img {
    /* Size */
    width: 70%;
    height: 400px;

    /* Makes sure the Cropping Affects Feet but not Heads */
    object-fit: cover;
    object-position: 50% 50%;

    /* Border */
    border-radius: 15px;
}

/* Cover Image - Height will get Smaller as the Screen gets Smaller */
@media (max-width: 1365px) {
    #cover-img {
        height: 400px;
    }
}

@media (max-width: 500px) {
    #cover-img {
        width: 200%;
    }
}

/* Below 400 px - Hide Image */
@media (max-width: 400px) {
    #cover-img {
        display: none;
    }
}

/* Gallery Style */
#gallery-div {
    width: 100vw;
    /* Default: Displays in a Row */
    display: grid;
    justify-content: center;
    align-items: center;

    /* Defines 4 Equal Columns for the Items */
    grid-template-columns: repeat(4, 1fr);

    /* Makes Grid Areas match the */
    grid-template-areas: "item1 item2 item3 item4";

    /* Add Spacing Between Items */
    gap: 20px;

    /* Padding for Symmetry */
    padding: 20px;

}

/* 430px to 1365px - Displays in 2 Columns */
@media (max-width: 1365px) {
    #gallery-div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "item1 item2"
            "item3 item4";

        /* Ensures Gap is Maintained */
        gap: 20px;
    }
}

/* Below 400px- display in 1 Column */
@media (max-width: 430px) {
    #gallery-div {
        grid-template-columns: 1fr;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4";

        /* Ensures Gap is Maintained */
        gap: 20px;
    }
}

/* Link Gallery Items to grid-area */
#item1 {
    grid-area: item1;
}

#item2 {
    grid-area: item2;
}

#item3 {
    grid-area: item3;
}

#item4 {
    grid-area: item4;
}