/* Adds custom font from local files */
@font-face {
    font-family: 'The-Cat';
    src: url(Gallery-Assets/Fonts/The-Cat.ttf) format(truetype)
}

/* Applies custom font with fallback font*/
.custom-font {
    font-family: 'The-Cat', sans-serif;
}

/* Styles for all Website */
* {
    padding: 0;
    margin: 0;
}


/* Adds style to h1 */
h1 {
    /* Colour */
    color: #D9A0A0;

    /* Font Size */
    font-size: calc(2rem + 2vw+ 2vh);

    /* Alterntive Shadow - Soft */
    /* text-shadow: 2px 2px 20px rgba(250, 250, 250, 0.5); */
    text-shadow:
        -2px -2px 0 #ffffff,
        2px -2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        2px 2px 0 #ffffff;

    /* Padding and Margin */
    padding: 5px;
    padding-left: 20%;
    padding-right: 20%;

    /* Border Style */
    border-style: groove;
    border-width: 10px;
    border-radius: 10px;
    border-color: #D9A0A0;
}

@media (max-width: 870px) {
    h1 {
        font-size: calc(1rem);
        border: none;
        padding: 0;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.full-width {
    width: 100vw;
}

.card {
    max-width: 300px;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#title-div {
    /* Styles */
    color: rgb(255, 0, 234);
    background-color: #D9A0A0;
    height: 100px;
}

/* Cover Image Style */
#cover-img {
    width: 70%;
    height: 400px;
    object-fit: cover;
    object-position: center top;
}

@media (max-width: 900px) {
    #cover-img {
        height: 400px;
    }
}

@media (max-width: 500px) {
    #cover-img {
        width: 100%;
    }
}

@media (max-width: 400px) {
    #cover-img {
        display: none;
    }
}

/* gallery styles */

#gallery-div {
    display: grid;
    justify-content: center;
    grid-template-areas:
        "item-1 item-2 item-3 item-4";
}

@media (max-width: 800px) {
    #gallery-div {
        grid-template-areas:
            "item-1 item-2"
            "item-3 item-4";
    }
}

@media (max-width: 400px) {
    #gallery-div {
        grid-template-areas:
            "item-1"
            "item-2"
            "item-3"
            "item-4"
    }
}

/* gallery items */

#item-1 {
    grid-area: item-1;
}

#item-2 {
    grid-area: item-2;
}

#item-3 {
    grid-area: item-3;
}

#item-4 {
    grid-area: item-4;
}





